
html {
	font-size: 1em;
}

.container {
	height: 650px;
	background: none;
}


/* FIRST COLUMN
-------------------------------------------------- */

.col1 {
		margin-top: 1%;
		height: 100%;
		width: 24%;
		padding-right: 8px;
		padding-left: 8px;
		overflow: scroll;
	}

	.profile-picture {
		margin-right: 10px;
		height: 100px;
		width: 100px;
		padding: 2px;
	}
		.profile-picture img {
			height: 100%;
			width: 100%;
		}
	#boarder-name { 
		font-size: 16px;
		margin-top: 50px;
	}
	#profile {
		font-size: 14px;
	}
	#profile a {
		font-size: 12px;
	}

	#post-button, #attach-button {
		font-size: 12px;
		margin-top: 8px;
		margin-right: 10px;
		margin-bottom: 20px;
		padding: 8px 10px;
	}

	.mydistricts, .myareas {
		float: left;
		clear: both;
		margin-bottom: 15px;
		padding-left: 5px;
	}

	.mydistricts .title, .myareas .title {
		font-size: 22px;
		line-height: 1.5em;
	}
	.mydistricts .title + span, .myareas .title + span {
		font-size: 14px;
		color: #616C6C;
		letter-spacing: -1px;
	}

	.district-text a, .area-text a {
		text-decoration: none;
		line-height: 1.3em;
	}
	.district-text a {
		color: #75B4C6;
	}
	.area-text a, .title .area-text a {
		color: #48A88D;
	}



/* SECOND COLUMN
-------------------------------------------------- */

	.col2 {
		margin-top: 1%;
		margin-left: .5%;
		height: 100%;
		width: 55.2%;
		background: #FBFBFB;
		padding: 8px;
		padding-left: 15px;

	}
	.col2 .contain {
		overflow: auto;
		display: inline-block;
		height: 90%;
		padding-bottom: 25px;
	}

		.col2 .title {
			float: left;
			margin-top: 8px;
			margin-bottom: 8px;
			width: 100%;
			font-size: 26px;
		}
		.col2 .population-text {
			float: right;
			font-size: 16px;
			margin-right: 5px;
		}

		.col2 .population-text a {
			font-size: 16px;
		}

		.crowdnews-post {
			width: 313px;
			margin-left: 5px;
		}

			.posted-material > a > img {
				margin: 0;
				height: 60px;
				width: 60px;
			}
			.poster-options {
			}

			.poster-name {
				margin-left: 5px;
				margin-top: 0;

			}

		.empty-post {
			text-align: center;
			overflow: auto;
		}

			.empty-post .posted-material {
				height: 165px;
				padding-top: 45px;

			}

			.empty-post .posted-material div {
				font-weight: 600;


			}
				.empty-post .posted-material div a {
					line-height: 2em;
					text-decoration: none;
					font-weight: normal;
					color: #75B4C6;
				}

	/* THIRD COLUMN
-------------------------------------------------- */
	.col3 {
		margin-left: .5%;
		height: 100%;
		width: 18.8%;
		background: none;
	    padding: 8px;
	    float:left;
	    border-radius: 3px;
	    -webkit-box-shadow:   0 0 6px rgba(150, 149, 150, 1);
	            box-shadow:   0 0 6px rgba(150, 149, 150, 1);
	    overflow: scroll;
	}
		.newsfeed-banner {
			font-variant: normal;
			position: relative;
			width:100%;
			height: 50px;
			padding-top: 15px;
			padding-bottom: 33px;
			background: #72B2C7;
		}
		.newsfeed-banner-text {
			text-align:center;
			color: #fff;
			font-size: 22px;
		}
		.newsfeed-message {
			background: #F7F7F7;
			padding: 4px 6px;
			margin-top: 5px;
			font-size: 12px;
			min-height: 58px;
			cursor: pointer;
		}
		.newsfeed-comment {
			min-height: 58px;
			line-height: 1.2em;
		}
		.newsfeed-comment .district-tag a, .newsfeed-comment .area-tag a  {
			font-size: 10px;
		}
			.newsfeed-comment img {
				float: left;
				width: 50px;
				height: 50px;
				margin-right: 8px;
				margin-bottom: 8px;
			}
			.message-attribution {
				display: inline;
				font-size: 12px;
			}
			.newsfeed-message .newsfeed-comment {
				font-variant: normal;
				padding-top: 3px;
				background: #fff;
				width: 100%;
				font-size: 
			}

/* pseudo-elements
-------------------------------------------------- */
	.district-text a:hover, .empty-post .posted-material div a:hover {
		color: #3C6C79;
	}
	.area-text a:hover {
		color:	#3D8E78;
	}
	.col3:hover {
		background: #FBFBFB;
		-webkit-box-shadow: 0 0 8px rgba(60, 108, 121, 1);
        		box-shadow: 0 0 8px rgba(60, 108, 121, 1);
	}

/* RESPONSIVE CSS
-------------------------------------------------- */

	@media only screen and (min-width: 1400px) {
  .container{
    width: 1400px;
  }
}



