
html {
	font-size: 1em;
}




/* FIRST ROW
-------------------------------------------------- */

.first-row {
	height:120px;
	width: 100%;
	padding-left: 7px;
	padding-right: 7px;
}

	.districts{
		overflow: scroll;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 20px;
		min-height: 120px;
		width: 100%;
		background: #FBFBFB;
    	border-radius: 2px;
    	margin: .5% 0;
    	-webkit-box-shadow:    0 0 6px rgba(150, 149, 150, 1);
        	    box-shadow:    0 0 6px rgba(150, 149, 150, 1);
	}

		.title {
			display: block;
			width: 180px;
			text-align: center;
			padding-top: 30px;
			padding-bottom: 40px;
			font-size: 2em;
			font-weight: 600;
		}
		.districts .title {
			height: 100%;
			float: left;
		}
	

			.districts-list-item {
				display: block;
				float: right;
				height: 46px;
				min-width: 104px;
				text-align: center;
				background: #72B2C7;
				padding-top: 14px;
				margin: 1px;
				border-radius: 2px;
			}

			.districts-list-item a {
				display: block;
				width:100%;
				height: 100%;
				text-decoration: none;
				color: #fff;
				font-variant: normal;
			}


/* SECOND ROW
-------------------------------------------------- */

/* FIRST COLUMN
-------------------------------------------------- */
.container {
	background: none;
}
.second-row {
	width: 100%;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
}
	.col1 {
		margin:0;
		width: 200px;
		background: #FBFBFB;
		padding-right: 14px;
		padding-left: 14px;

	}

	.col1 .title {
		height: 90px;
		width: 100%;
	}

		.areas-list-item {
			font-variant: normal;
			display: block;
			height: 46px;
			text-align: center;
			color: #fff;
			background: #48A88D;
			padding-top: 14px;
			margin: 2px;
			border-radius: 2px;
		}
		.areas-list-item a {
			display: block;
			width:100%;
			height: 100%;
			text-decoration: none;
			color: #fff;
			font-variant: normal;
		}



